{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" >
    <title>Doc</title>
    <link rel="stylesheet" href="{% static 'main/css/Style.css' %}">
</head>
<body>
         <div class="header">
       
        <nav>
          <div id="LOGO"><img src="{% static 'main/img/log.png' %}" alt="logo"></div>
          <h1 id="text">Doc</h1>
          
          <div id="main">
            <span style="font-size:30px;cursor:pointer" class="openbtn" onclick="openNav()" >&#9776; </span>
          </div>
          <div class="container">
            <input type="text" maxlength= "30" placeholder="Search" class="searchbar">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41gYkruZM2L.png" alt="search icon" class="button">
          </div>
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{% url 'home' %}">Главное</a>
            <a href="{% url 'tasks' %}">Задани</a>
            
            <a href="{% url 'people' %}">Календарь</a>
            <a href="{% url 'project' %}">Проект</a>
            <a href="{% url 'doc' %}">Документы</a></div>
            
            
            
          </nav>
          <div class="dropdown">
            <button  class="but" ><img src="{% static 'main/img/ava.png' %}" alt="avatar"></button>
            <div  class="dropdown-content">
            <a href="{% url 'profile' %}">Мой профиль</a>
           
            <a href="#">s</a><br><br>
            <hr>
            <a href="{% url 'reg' %}">Выход</a>
            </div>
        </div>
        <button class="btn-toggle"><img src="{% static 'main/img/dasd.png' %}" alt=""></button>
      </div>

      <div class="tt">
        <h1>Документы</h1>
      </div>
      <div class="t2">
      <h1>Письма</h1></div>
      <a href="{% url 'upload2' %}">
      <button class="buttonB">
        <span><img src="{% static 'main/img/oo.png' %}" alt=""><br>Входящие</span>
      </button></a>
      <a href="{% url 'email' %}">
      <button class="buttonB">
        <span><img src="{% static 'main/img/png.png' %}" alt=""><br>Исходящие</span>
      </button></a>
      <br><br>
      <div class="dropdowndoc">
        <button onclick="myFunction()" class="dropbtndoc">Договоры ⮟</button>
        
        <div id="myDropdowni" class="dropdown-contents">
          <a href="{% url 'upload' %}">Сотрудниками</a>
         
        </div>
      </div>

      <div class="css-1dbjc4n" style="background-color: rgb(89, 89, 135); height: 1px;"></div> 
       
        
      
</body>
<script src="{% static 'main/js/main.js' %}">
</script>
</html>